<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="C:/SPE/assets/css/bootstrap.css">
    <link rel="stylesheet" href="C:/SPE/assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="C:/SPE/assets/css/custom.css">
    <link rel="stylesheet" media="screen" href="C:/SPE/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="C:/SPE/assets/css/templatemo-style.css" />
    <title>Events</title>
  </head>
<!--
Sided Template
https://templatemo.com/tm-527-sided
-->
  <body>
      <div class="header">
            
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#"><img src="C:/SPE/assets/images/SPE_VIT_PMS.png" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Board Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Events</a>
                                <a class="dropdown-item" href="#">Achievements</a>
                                <a class="dropdown-item" href="#">Sponsorship</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Feedback</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>    
        </div>
      
      <!--Photo Gallery-->
        <div class="event-gallery">
      <!--title-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-2 col-sm-2"></div>
                        <div class="col-lg-6 col-md-8 col-sm-8">
                            <span class="aboutUs event-title">Our Events...</span>
                        </div>
                    <div class="col-lg-3 col-md-2 col-sm-2"></div>
                </div>
            </div>
            <div class="container-fluid">
            <div class="row">
            <div class="col-lg-2 col-md-1 col-sm-0"></div>
            <div class="col-lg-8 col-md-10 col-sm-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="C:/SPE/assets/images/indonesia.jpeg" class="d-block w-100 event-carousel-img" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Event Name</h5>
                            <p>Description</p>
                        </div>
                    </div>
                    <div class="carousel-item event-carousel">
                        <img src="C:/SPE/assets/images/award.jpeg" class="d-block w-100 event-carousel-img" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Event Name</h5>
                            <p>Description</p>
                        </div>
                    </div>
                    <div class="carousel-item event-carousel">
                        <img src="C:/SPE/assets/images/certificate.jpeg" class="d-block w-100 event-carousel-img" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Event Name</h5>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        </div>
        <div class="col-lg-2 col-md-1 col-sm-0"></div>
        </div>
        </div>
      
        
      
      
        <div class="columns-bg">
          <section id="our_place">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 col-lg-6 tm-section-image-container tm-img-left-container">
                  <img src="C:/SPE/assets/images/event.jpg" alt="Image" class="img-fluid event-img" />
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="tm-section-text-container-2">
                    <h2 class="tm-text-primary tm-section-title-mb tm-sm-bg-white-alpha">
                      Event Name
                    </h2>
                    <div class="tm-text-gray">
                      <p class="mb-4">
                        Sided Bootstrap v4.2.1 template has 3 HTML pages. <a href="index.html">Index</a>, <a href="page-2.html">Page 2</a> and <a href="page-3.html">Page 3</a>.
                        You may share this Sided template or <a rel="nofollow" href="https://www.facebook.com/templatemo">our templatemo page</a> to your friends. Pellentesque commodo malesuada est.
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Fusce, Section 4 -->
          <section id="section_4" class="tm-section-4">
            <div class="container-fluid">
              <div class="row flex-column-reverse flex-lg-row">
                <div class="col-md-12 col-lg-6 tm-text-left-container">
                  <div class="tm-section-text-container-3 tm-bg-white-alpha h-100">
                    <h2 class="tm-text-accent tm-section-title-mb">
                      Event Name
                    </h2>
                    <p class="mb-0">
                      Quisque rutrum dapibus odio vitae tincidunt. Etiam
                      sollicitudin augue non porta interdum. Pellentesque placerat
                      orci at libero ornare, nec viverra justo lobortis. Phasellus
                      venenatis eros non.
                    </p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 tm-section-image-container tm-img-right-container">
                  <img src="C:/SPE/assets/images/event.jpg" alt="Image" class="img-fluid tm-img-right event-img" />
                </div>
              </div>
            </div>
          </section>
            <section id="our_place">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 col-lg-6 tm-section-image-container tm-img-left-container">
                  <img src="C:/SPE/assets/images/event.jpg" alt="Image" class="img-fluid event-img" />
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="tm-section-text-container-2">
                    <h2 class="tm-text-primary tm-section-title-mb tm-sm-bg-white-alpha">
                      Event Name
                    </h2>
                    <div class="tm-text-gray">
                      <p class="mb-4">
                        Sided Bootstrap v4.2.1 template has 3 HTML pages. <a href="index.html">Index</a>, <a href="page-2.html">Page 2</a> and <a href="page-3.html">Page 3</a>.
                        You may share this Sided template or <a rel="nofollow" href="https://www.facebook.com/templatemo">our templatemo page</a> to your friends. Pellentesque commodo malesuada est.
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Fusce, Section 4 -->
          <section id="section_4" class="tm-section-4">
            <div class="container-fluid">
              <div class="row flex-column-reverse flex-lg-row">
                <div class="col-md-12 col-lg-6 tm-text-left-container">
                  <div class="tm-section-text-container-3 tm-bg-white-alpha h-100">
                    <h2 class="tm-text-accent tm-section-title-mb">
                      Event Name
                    </h2>
                    <p class="mb-0">
                      Quisque rutrum dapibus odio vitae tincidunt. Etiam
                      sollicitudin augue non porta interdum. Pellentesque placerat
                      orci at libero ornare, nec viverra justo lobortis. Phasellus
                      venenatis eros non.
                    </p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 tm-section-image-container tm-img-right-container">
                  <img src="C:/SPE/assets/images/event.jpg" alt="Image" class="img-fluid tm-img-right event-img" />
                </div>
              </div>
            </div>
          </section>
        </div>
      
        <!--contact us-->
     
        <div class=" footer">
            <div class="row">
                <div class="col-lg-12">
                    <span class="aboutUs">Find us on...</span>
                </div>
            </div>
            <div class="row icon">
                <div class="col">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-github"></a>
                </div>
            </div> 
        </div>
     
        
        
        <script src="C:/SPE/assets/js/bootstrap.js"></script>
        <script src="C:/SPE/assets/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="C:/SPE/assets/js/bootstrap.bundle.js"></script>
        <script src="C:/SPE/assets/js/bootstrap.bundle.min.js"></script>
        <script src="C:/SPE/assets/js/particles.js"></script>
        <script src="C:/SPE/assets/js/app.js"></script>
        <script src="C:/SPE/assets/js/stats.js"></script>
      </body>
    </html>
