<html>
    <head>
        <title>Feedback</title>
        <link rel="stylesheet" href="C:/SPE/assets/css/bootstrap.css">
        <link rel="stylesheet" href="C:/SPE/assets/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="C:/SPE/assets/css/custom.css">
        <link rel="stylesheet" media="screen" href="C:/SPE/assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="header">
            
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#"><img src="C:/SPE/assets/images/SPE_VIT_PMS.png" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Board Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Events</a>
                                <a class="dropdown-item" href="#">Achievements</a>
                                <a class="dropdown-item" href="#">Sponsorship</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Feedback</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>    
        </div>
        
        <div class="feedback-background">
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-2 col-sm-2"></div>
                    <div class="col-lg-6 col-md-8 col-sm-8">
                        <span class="aboutUs">Your Feedback Matters the Most</span>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2"></div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <form>
                    <div class="row">
                        <div class="col-lg-4 col-md-3"></div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label for="inputAddress">Name</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="">
                            </div><br>
                            <div class="form-group">
                                <label for="inputAddress2">E-mail</label>
                                <input type="email" class="form-control" id="inputAddress2" placeholder="">
                            </div><br>
                            <div class="form-group">
                                <label for="inputAddress">Contact Number</label>
                                <input type="number" class="form-control" id="inputAddress" placeholder="">
                            </div><br>
                            <div class="form-group">
                                <label for="inputAddress">Feedback</label>
                                <textarea type="text" rows="4" class="form-control" id="inputAddress" placeholder=""></textarea>
                            </div><br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3"></div>
                    </div>
                </form>
            </div>
        </div>
                
           
        
        
        <!--contact us-->
        <div class="container footer">
            <div class="row">
                <div class="col-12">
                    <span class="aboutUs">Find us on...</span>
                </div>
            </div>
            <div class="row icon">
                <div class="col">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-github"></a>
                </div>
            </div> 
        </div>
        
        
        
        <script src="C:/SPE/assets/js/bootstrap.js"></script>
        <script src="C:/SPE/assets/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="C:/SPE/assets/js/bootstrap.bundle.js"></script>
        <script src="C:/SPE/assets/js/bootstrap.bundle.min.js"></script>
        <script src="C:/SPE/assets/js/particles.js"></script>
        <script src="C:/SPE/assets/js/app.js"></script>
        <script src="C:/SPE/assets/js/stats.js"></script>
    </body>
</html>