<html>
    <head>
        <title>Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="C:/SPE/assets/css/bootstrap.css">
        <link rel="stylesheet" href="C:/SPE/assets/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="C:/SPE/assets/css/custom.css">
        <link rel="stylesheet" media="screen" href="C:/SPE/assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="header">
            
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#"><img src="C:/SPE/assets/images/SPE_VIT_PMS.png" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Board Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Events</a>
                                <a class="dropdown-item" href="#">Achievements</a>
                                <a class="dropdown-item" href="#">Sponsorship</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Feedback</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>    
        </div>
        
        <!--Particles area-->
        <div id="particles-js"></div>
        
        <!--About Us -->
        <div class="container-fluid mar-null">
            <div class="row">
                <div class="col-lg-4 col-md-2"></div>
                <div class="col-lg-4 col-md-8"><span class="aboutUs"><b>About Us</b></span></div>
                <div class="col-lg-4 col-md-2"></div>
            </div>
            <div class="row about">
                <div class="col-lg-2 col-md-0"></div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="about-image" src="C:/SPE/assets/images/SPE_VIT_PMS.png"></div>
                <div class="col-lg-4 col-md-6 col-sm-12"><p class="about-para">SPE-VIT is one of its kind and a state-of-the-art in the niche of chapters in VIT, which projects the vision of a newly-found, yet much accomplished field of “liquid gold” in the university scenario, something which the students of VIT need to have an awareness about. For student members, we offer scholarships and fellowships for both undergraduate and graduate students pursuing degrees related to the oil and gas industry.</p></div>
                <div class="col-lg-2 col-md-0"></div>
            </div>
            <div class="row about">
                <div class="col-lg-2 col-md-0"></div>
                <div class="col-lg-4 col-md-6 col-sm-12"><p class="about-para">SPE-VIT is one of its kind and a state-of-the-art in the niche of chapters in VIT, which projects the vision of a newly-found, yet much accomplished field of “liquid gold” in the university scenario, something which the students of VIT need to have an awareness about. For student members, we offer scholarships and fellowships for both undergraduate and graduate students pursuing degrees related to the oil and gas industry.</p></div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="about-image" src="C:/SPE/assets/images/SPE_VIT_PMS.png"></div>
                <div class="col-lg-2 col-md-0"></div>
            </div>
        </div>
        
        
        <!--Gallery-->
        <div class="gallery-color">
        <div class="contanier-fluid mar-null">
            <div class="row">
                <div class="col-lg-4 col-md-2"></div>
                <div class="col-lg-4 col-md-8"><span class="aboutUs"><b>Gallery</b></span></div>
                <div class="col-lg-4 col-md-2"></div>
            </div>
        </div>
        
        <!--Carousel-->
        <div class="container-fluid mar-null">
        <div class="row gallery">
        <div class="col-lg-2 col-md-1 col-sm-0"></div>
        <div class="col-lg-8 col-md-10 col-sm-12">    
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active carousel-frame">
                    <img src="C:/SPE/assets/images/award.jpeg" class="d-block w-100 carousel-frame" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Best International Chapter Award</h5>
                        <p>Board of SPE-VIT with Honourable Chancellor of VIT </p>
                    </div>    
                </div>
                <div class="carousel-item">
                    <img src="C:/SPE/assets/images/certificate.jpeg" class="d-block w-100 carousel-frame" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Certificate</h5>
                        <p>Best International Chapter Award</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="C:/SPE/assets/images/indonesia.jpeg" class="d-block w-100 carousel-frame" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Team SPE</h5>
                        <p>SPE-VIT team in Indonesia</p>
                    </div>
                </div>
            </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>
        </div>
        <div class="col-lg-2 col-md-1 col-sm-0"></div>
        </div>
        </div>
        </div>
        
        <!--Board-->
        <div class="contanier-fluid mar-null">
            <div class="row">
                <div class="col-lg-4 col-md-2"></div>
                <div class="col-lg-4 col-md-8"><span class="aboutUs"><b>Faculty Coordinators</b></span></div>
                <div class="col-lg-4 col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-0 col-sm-0"></div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="member">
                        <img class="member-pic" src="C:/SPE/assets/images/dummy.png">
                        <p>Dr. Shishir Kumar Behra</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-0 col-sm-0"></div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="member">
                        <img class="member-pic" src="C:/SPE/assets/images/dummy.png">
                        <p>Dr. Aslam Abdullah M.</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md- col-sm-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-2"></div>
                <div class="col-lg-4 col-md-8"><span class="aboutUs"><b>Board</b></span></div>
                <div class="col-lg-4 col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="member">
                        <img class="member-pic-board" src="C:/SPE/assets/images/dummy.png">
                        <p>Name</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="member">
                        <img class="member-pic-board" src="C:/SPE/assets/images/dummy.png">
                        <p>Name</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="member">
                        <img class="member-pic-board" src="C:/SPE/assets/images/dummy.png">
                        <p>Name</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div class="member">
                        <img class="member-pic-board" src="C:/SPE/assets/images/dummy.png">
                        <p>Name</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    
                </div>
                <div class="col-lg-4">
                    <div class="member">
                        <img class="member-pic-board" src="C:/SPE/assets/images/dummy.png">
                        <p>Name</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div class="member">
                        <img class="member-pic-board" src="C:/SPE/assets/images/dummy.png">
                        <p>Name</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    
                </div>
                <div class="col-lg-4">
                    <div class="member">
                        <img class="member-pic-board" src="C:/SPE/assets/images/dummy.png">
                        <p>Name</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="member">
                        <img class="member-pic-board" src="C:/SPE/assets/images/dummy.png">
                        <p>Name</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="member">
                        <img class="member-pic-board" src="C:/SPE/assets/images/dummy.png">
                        <p>Name</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="member">
                        <img class="member-pic-board" src="C:/SPE/assets/images/dummy.png">
                        <p>Name</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!--Contact Us:-->
        
            <div class="container footer">
                <div class="row">
                    <div class="col-12">
                        <span class="aboutUs">Find us on...</span>
                    </div>
                </div>
                <div class="row icon">
                    <div class="col">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-github"></a>
                    </div>
                </div> 
                <div class="row">
                </div>
            </div>
        
        
        <script src="C:/SPE/assets/js/bootstrap.js"></script>
        <script src="C:/SPE/assets/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="C:/SPE/assets/js/bootstrap.bundle.js"></script>
        <script src="C:/SPE/assets/js/bootstrap.bundle.min.js"></script>
        <script src="C:/SPE/assets/js/particles.js"></script>
        <script src="C:/SPE/assets/js/app.js"></script>
        <script src="C:/SPE/assets/js/stats.js"></script>
    </body>
</html>